@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.modalPinjamBrg {
  animation: modalPinjamBrg .7s ease-in-out;
  -webkit-animation: modalPinjamBrg .7s ease-in-out;
}

@keyframes modalPinjamBrg {
  0%{
    scale: 0.5;
  }50%{
    scale: 1.1;
  }100%{
    scale: 1;
  }
}

.animateOpacity {
  animation: animeOpacity .7s ease-in-out;
  -webkit-animation: animeOpacity .7s ease-in-out;
}

@keyframes animeOpacity {
  0%{
    opacity: 0;
  }100%{
    scale: 1;
  }
}
